#header{
    background-color: RGBA(255,255,255,0.57);
    box-shadow: 0px 0px 25px 9px rgba(0, 0, 0, .3);
    border-radius: 15px;
    padding: 1rem;
}

#name{
    font-family: 'DM Sans', sans-serif;
    color: rgb(0 0 255 / 36%);
    text-shadow: 1px 0 10px grey;
    font-size: 3rem;
}

#web-dev{
    
}

.breakFree{
    color: #222;
    text-decoration: none;
}

.breakFree :hover{
    cursor: text !important;
    color: #222;
}

img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#pic-of-me{
    box-shadow:0px 0px 19px 3px rgb(0 0 255 / 36%)
}
