#name{
    font-family: 'DM Sans', sans-serif;
}

.breakFree{
    color: #222;
    text-decoration: none;
}

.breakFree :hover{
    cursor: text !important;
    color: #222;
}

img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
    margin-left: auto;
    margin-right: auto;
}
